@font-face {
    font-family: "JosefinSans";
    src: url('fonts/JosefinSans/JosefinSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: "TulpenOne";
    src: url('fonts/TulpenOne/TulpenOne-Regular.ttf');
}

* {
    color: #eee;
    font-family: JosefinSans;
    font-size: 18px;
    margin-bottom: 10px;
}

html, body {
    margin: 0;
    padding: 0;
}

.penguin {
    height: 89px;
    margin-top: 70px;
}

.bgContainer{
    position: fixed;
    z-index: 0;
    margin: 0;
    padding: 0;
}

.mainContainer {
    position: fixed;
    margin-left: 33%;
    margin-top: 90px;
    /*border: 3px solid black;*/
    width: 600px;
    height: 300px;
    z-index: 1;
}

.time {
    padding-left: 80px;
    font-size: 32px;
}

.content {
    float: left;
}

#mainBar {
    width: 422px;
    height: 100%;
    text-align: center;
}

.welcomeMsg p {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bookmarksList {
    width: 32%;
    float: left;
    padding: 0px;
}



ul {
    list-style-type:none;
    /*width:75px;
    float:left;
    padding-left:0px;
    padding-right:0px;
    margin-left:18px;
    margin-right:18px;*/
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration:none;
    padding: 3px;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    /*font-size:16px;
    height:12px;
    line-height:12px;
    ;*/
}

a:hover {
    border-radius: 30px;
    background-color: rgba(139, 139, 139, 0.2);
}