@font-face {
    font-family: "JosefinSans";
    src: url('fonts/JosefinSans/JosefinSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: "TulpenOne";
    src: url('fonts/TulpenOne/TulpenOne-Regular.ttf');
}

* {
    color: #eee;
    font-family: JosefinSans;
    font-size: 18px;
    margin-bottom: 10px;
}

body {
    height: 100vh;
    background: url("img/penguins.png") repeat;
    background-position: 23px 0px;
    animation: bg-penguins 5s linear infinite; 
}

@keyframes bg-penguins {
    0% { background-position: 23px 0px; }
    100% { background-position: 151px 128px; }
}

.penguin {
    height: 150px;
    margin-top: 35px;
}

.bgContainer{
    position: fixed;
    z-index: 0;
    margin: 0;
    padding: 0;
}

.mainContainer {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -310px;
    margin-top: -200px;
    padding-top: 20px;
    padding-right: 0px;
    padding-left: 15px;
    padding-bottom: -10px;
    border: 4mm outset rgba(238, 145, 6, 0.6);
    border-radius: 10px;
    background-color: rgba(26,30,48,0.8);
    /* background-color: rgba(38,48,72,0.8); */
    /* animation: mc-background 6s linear infinite; */
    width: 600px;
    height: 300px;
    z-index: 1;
}

@keyframes mc-background {
    0% { background-color: #263048; }
    1% { background: linear-gradient(#263048 96%, #354363 100%); }
    2% { background: linear-gradient(#263048 94%, #354363 98%); }
    3% { background: linear-gradient(#263048 92%, #354363 96%); }
    4% { background: linear-gradient(#263048 90%, #354363 94%); }
    5% { background: linear-gradient(#263048 88%, #354363 92%); }
    6% { background: linear-gradient(#263048 86%, #354363 90%); }
    7% { background: linear-gradient(#263048 84%, #354363 88%); }
    8% { background: linear-gradient(#263048 82%, #354363 86%); }
    9% { background: linear-gradient(#263048 80%, #354363 84%); }
    10% { background: linear-gradient(#263048 78%, #354363 82%); }
    11% { background: linear-gradient(#263048 76%, #354363 80%); }
    12% { background: linear-gradient(#263048 74%, #354363 78%); }
    13% { background: linear-gradient(#263048 72%, #354363 76%); }
    14% { background: linear-gradient(#263048 70%, #354363 74%); }
    15% { background: linear-gradient(#263048 68%, #354363 72%); }
    16% { background: linear-gradient(#263048 66%, #354363 70%); }
    17% { background: linear-gradient(#263048 64%, #354363 68%); }
    18% { background: linear-gradient(#263048 62%, #354363 66%); }
    19% { background: linear-gradient(#263048 60%, #354363 64%); }
    20% { background: linear-gradient(#263048 58%, #354363 62%); }
    21% { background: linear-gradient(#263048 56%, #354363 60%); }
    22% { background: linear-gradient(#263048 54%, #354363 58%); }
    23% { background: linear-gradient(#263048 52%, #354363 56%); }
    24% { background: linear-gradient(#263048 50%, #354363 54%); }
    25% { background: linear-gradient(#263048 48%, #354363 52%); }
    26% { background: linear-gradient(#263048 46%, #354363 50%); }
    27% { background: linear-gradient(#263048 44%, #354363 48%); }
    28% { background: linear-gradient(#263048 42%, #354363 46%); }
    29% { background: linear-gradient(#263048 40%, #354363 44%); }
    30% { background: linear-gradient(#263048 38%, #354363 42%); }
    31% { background: linear-gradient(#263048 36%, #354363 40%); }
    32% { background: linear-gradient(#263048 34%, #354363 38%); }
    33% { background: linear-gradient(#263048 32%, #354363 36%); }
    34% { background: linear-gradient(#263048 30%, #354363 34%); }
    35% { background: linear-gradient(#263048 28%, #354363 32%); }
    36% { background: linear-gradient(#263048 26%, #354363 30%); }
    37% { background: linear-gradient(#263048 24%, #354363 28%); }
    38% { background: linear-gradient(#263048 22%, #354363 26%); }
    39% { background: linear-gradient(#263048 20%, #354363 24%); }
    40% { background: linear-gradient(#263048 18%, #354363 22%); }
    41% { background: linear-gradient(#263048 16%, #354363 20%); }
    42% { background: linear-gradient(#263048 14%, #354363 18%); }
    43% { background: linear-gradient(#263048 12%, #354363 16%); }
    44% { background: linear-gradient(#263048 10%, #354363 14%); }
    45% { background: linear-gradient(#263048 8%, #354363 12%); }
    46% { background: linear-gradient(#263048 6%, #354363 10%); }
    47% { background: linear-gradient(#263048 4%, #354363 8%); }
    48% { background: linear-gradient(#263048 2%, #354363 6%); }
    49% { background: linear-gradient(#263048 0%, #354363 4%); }
    50% { background-color: #8a97b6; }
    51% { background: linear-gradient(#354363 96%, #263048 100%); }
    52% { background: linear-gradient(#354363 94%, #263048 98%); }
    53% { background: linear-gradient(#354363 92%, #263048 96%); }
    54% { background: linear-gradient(#354363 90%, #263048 94%); }
    55% { background: linear-gradient(#354363 88%, #263048 92%); }
    56% { background: linear-gradient(#354363 86%, #263048 90%); }
    57% { background: linear-gradient(#354363 84%, #263048 88%); }
    58% { background: linear-gradient(#354363 82%, #263048 86%); }
    59% { background: linear-gradient(#354363 80%, #263048 84%); }
    60% { background: linear-gradient(#354363 78%, #263048 82%); }
    61% { background: linear-gradient(#354363 76%, #263048 80%); }
    62% { background: linear-gradient(#354363 74%, #263048 78%); }
    63% { background: linear-gradient(#354363 72%, #263048 76%); }
    64% { background: linear-gradient(#354363 70%, #263048 74%); }
    65% { background: linear-gradient(#354363 68%, #263048 72%); }
    66% { background: linear-gradient(#354363 66%, #263048 70%); }
    67% { background: linear-gradient(#354363 64%, #263048 68%); }
    68% { background: linear-gradient(#354363 62%, #263048 66%); }
    69% { background: linear-gradient(#354363 60%, #263048 64%); }
    70% { background: linear-gradient(#354363 58%, #263048 62%); }
    71% { background: linear-gradient(#354363 56%, #263048 60%); }
    72% { background: linear-gradient(#354363 54%, #263048 58%); }
    73% { background: linear-gradient(#354363 52%, #263048 56%); }
    74% { background: linear-gradient(#354363 50%, #263048 54%); }
    75% { background: linear-gradient(#354363 48%, #263048 52%); }
    76% { background: linear-gradient(#354363 46%, #263048 50%); }
    77% { background: linear-gradient(#354363 44%, #263048 48%); }
    78% { background: linear-gradient(#354363 42%, #263048 46%); }
    79% { background: linear-gradient(#354363 40%, #263048 44%); }
    80% { background: linear-gradient(#354363 38%, #263048 42%); }
    81% { background: linear-gradient(#354363 36%, #263048 40%); }
    82% { background: linear-gradient(#354363 34%, #263048 38%); }
    83% { background: linear-gradient(#354363 32%, #263048 36%); }
    84% { background: linear-gradient(#354363 30%, #263048 34%); }
    85% { background: linear-gradient(#354363 28%, #263048 32%); }
    86% { background: linear-gradient(#354363 26%, #263048 30%); }
    87% { background: linear-gradient(#354363 24%, #263048 28%); }
    88% { background: linear-gradient(#354363 22%, #263048 26%); }
    89% { background: linear-gradient(#354363 20%, #263048 24%); }
    90% { background: linear-gradient(#354363 18%, #263048 22%); }
    91% { background: linear-gradient(#354363 16%, #263048 20%); }
    92% { background: linear-gradient(#354363 14%, #263048 18%); }
    93% { background: linear-gradient(#354363 12%, #263048 16%); }
    94% { background: linear-gradient(#354363 10%, #263048 14%); }
    95% { background: linear-gradient(#354363 8%, #263048 12%); }
    96% { background: linear-gradient(#354363 6%, #263048 10%); }
    97% { background: linear-gradient(#354363 4%, #263048 8%); }
    98% { background: linear-gradient(#354363 2%, #263048 6%); }
    100% { background: linear-gradient(#354363 0%, #263048 4%); }
    /* 100% { background-color: #263048; } */


    /* 51% { background: linear-gradient(#4d6191, #263048); background-position: 0% 0% }
    99% { background-position: 0% 100% }
    100% { background: linear-gradient(#263048,#4d6191); background-position: 0% 0%  } */

    /* 50% { background: linear-gradient(#4d6191, #263048); }
    75% { background: linear-gradient(#263048, #263048); }
    100% { background: linear-gradient(#263048, #4d6191); } */
}


.time {
    position: relative;
    left: 50%;
    margin-left: -230px;
    font-size: 32px;
}

.content {
    float: left;
}

#mainBar {
    width: 422px;
    height: 100%;
    text-align: center;
}

.welcomeMsg p {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bookmarksList {
    width: 32%;
    float: left;
    padding: 0px;
}

ul {
    list-style-type:none;
    /*width:75px;
    float:left;
    padding-left:0px;
    padding-right:0px;
    margin-left:18px;
    margin-right:18px;*/
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration:none;
    padding: 3px;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    /*font-size:16px;
    height:12px;
    line-height:12px;
    ;*/
}

a:hover {
    border-radius: 30px;
    background-color: rgba(139, 139, 139, 0.2);
}