@font-face {
    font-family: "JosefinSans";
    src: url('fonts/JosefinSans/JosefinSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: "TulpenOne";
    src: url('fonts/TulpenOne/TulpenOne-Regular.ttf');
}

* {
    color: #ddd;
    font-family: TulpenOne;
    font-size: 30px;
}

html, body {
    margin: 0;
    padding: 0;
}

.bgContainer{
    position: fixed;
    z-index: 0;
    margin: 0;
    padding: 0;
}

.mainContainer {
    position: fixed;
    margin-left: 33%;
    margin-top: 90px;
    /*border: 3px solid black;*/
    width: 600px;
    height: 300px;
    z-index: 1;
}

.time {
    padding-left: 10px;
    font-size: 36px;
}

.content {
    float: left;
}

#mainBar {
    width: 422px;
    height: 100%;
    text-align: center;
}

.welcomeMsg p {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bookmarksList {
    width: 32%;
    float: left;
    padding: 0px;
}



ul {
    list-style-type:none;
    /*width:75px;
    float:left;
    padding-left:0px;
    padding-right:0px;
    margin-left:18px;
    margin-right:18px;*/
}

li {
    margin-bottom: 3px;
}

a {
    text-decoration:none;
    padding: 1px;
    padding-left: 20px;
    padding-right: 20px;
    /*font-size:16px;
    height:12px;
    line-height:12px;
    ;*/
}

a:hover {
    background-color: #080808;
}