/* Fonts */

@font-face {
    font-family: "JosefinSans";
    src: url('fonts/JosefinSans/JosefinSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: "TulpenOne";
    src: url('fonts/TulpenOne/TulpenOne-Regular.ttf');
}

/* Global */

* {
    /* color: #ddd; */
    font-family: JosefinSans;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* Containers */

.bgContainer {
    height: 100%;
    position: fixed;
    z-index: -1;
}

.mainContainer {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
    grid-template-rows: 15% 85%;
    position: fixed;
    width: 100%;
}

#mainBar {
    /* display: grid; */
    grid-column-start: 2;
    grid-row-start: 2;
    grid-template-columns: 1fr 60% 1fr;
    text-align: center;
}

